/* ブラウザの余白をリセット */
body {
    margin: 0;
    padding: 0;
}

/* 背景 */
.parallax-background {
    /* ふたつの要素を重ねる(親要素) */
    position: relative;

    /* 200vh を 80% スクロールさせるので　100 "見えている部分" + (100 - 80) "スクロール後のズレた分" = 120 */
    height: 120vh;

    background-image: url(../images/background.jpg);

    /* 画面全体を埋め尽くすよう表示 */
    background-size: cover;

    /* 要素の上&横方向センターに配置 */
    background-position: top center;

    /* 画像を繰り返さない */
    background-repeat: no-repeat;
}

/* 前景 */
.parallax-foreground {
    /* 親要素に重ねる */
    position: absolute;
    top: 0;

    background-image: url(../images/foreground.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    width: 100%;
    height: 200vh;
}